* {
  box-sizing: border-box;
}
body {
  background-color: rgb(77, 76, 76);
}
.text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 10%;
  font-size: 100px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  text-transform: capitalize;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  color: white;
  margin: 20px;
  cursor: pointer;
}
.container-t {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 30%;
}

.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 60%;
}

.button:hover {
  border: 2px solid black;
}

#start {
  background-color: green;
}
#pause {
  background-color: blue;
}
#reset {
  background-color: red;
}
